.ai-badge-icon {
  width: 1em;
  height: 1em;
  display: inline-block;
  cursor: pointer;
  overflow: visible;
}

.ai-badge-icon * {
  transform-box: fill-box;
}

.ai-badge-icon .line {
  transform-origin: center;
}

.ai-badge-icon:not(.no-hover):hover .line {
  animation: ai-badge-motion-1 700ms ease-in-out;
}

.ai-badge-icon.no-hover * {
  transform: none;
  opacity: 1;
  animation: none;
}

@keyframes ai-badge-motion-1 {
  0%,
  100% {
    transform: translateX(0);
  }
  33% {
    transform: translateX(-1px);
  }
  66% {
    transform: translateX(1px);
  }
}
