.ai-align-center-horizontally-icon {
  width: 1em;
  height: 1em;
  display: inline-block;
  cursor: pointer;
  overflow: visible;
}

.ai-align-center-horizontally-icon * {
  transform-box: fill-box;
}

.ai-align-center-horizontally-icon:not(.no-hover):hover .left-fill,
.ai-align-center-horizontally-icon:not(.no-hover):hover .right-fill {
  animation: ai-align-center-horizontally-motion 700ms ease-in-out;
}

.ai-align-center-horizontally-icon.no-hover * {
  transform: none;
  opacity: 1;
  animation: none;
}

@keyframes ai-align-center-horizontally-motion {
  0%,
  100% {
    transform: translateY(0);
  }
  33% {
    transform: translateY(-1.25px);
  }
  66% {
    transform: translateY(1.25px);
  }
}
